<template>
  <H2>Hello World</H2>
  <H2>Costum Event</H2>
  <br>
  <H2>{{ text }}</H2>

  <button @click="changeText">Ubah Text</button>
  <a v-bind:href="url">
   <button>Ke Text Awal</button>
  </a>
</template>

<script>
export default {
    name: "Header",
    props: ["text"],
    data(){
      return {
        newText: "Ini text dari header.vue",
        url: "http://localhost:8080/"
      }
    },
    methods:{
      changeText(){
        this.$emit("changeTitle", this.newText);
      },
    },
    emits: ["changeTitle"]

};
</script>

<style>

</style>