<template>
  <H2>Hello World</H2>
  <H2>Component dan Props</H2>
  <br>
  <H2>{{ text }}</H2>
</template>

<script>
export default {
    name: "Header",
    props: ["text"],
};
</script>

<style>

</style>