<template>
  <h1>Method & Data Binding</h1>

  <h2>Nama : {{ nama }}</h2> Ganti Nama : 
  <button v-on:click="ChangeName">Anonimous</button>
  <a v-bind:href="url">
   <button>Apriyono</button>
  </a>

  <br>
  <h2> Halo {{ nama }}, Selamat Belajar Vue JS.<br>Semoga Terkuasai Dengan Mudah</h2>
</template>

<script>


export default {
  name: 'App2',
  data(){
    return{
      nama: "Apriyono",
      url: "http://localhost:8080/"
    }
  },
  methods:{
      ChangeName(){
          this.nama = "Anonimous"
      }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
