<template>
  <h1 style="text-align:center;">Two Data Binding</h1>

  <input type="text" v-model="nama" placeholder="Masukan Nama">
  <h3>Hasil input : {{ nama }}</h3>
</template>

<script>


export default {
  name: 'App',
  data(){
    return{
      nama: "Apriyono"
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
