<template>
  <h1>Conditional & Loop</h1>
  <h2>Produk dan Harga</h2>

<div v-if="products.length">  
  <ul>
      <li v-for="item in products" :key="item.id">
          {{ item.title }} - {{ item.price }}
      </li>
  </ul>
</div>
<div v-else>
    <p style="text-align:center;">Data Not Found</p>
</div>
 
</template>

<script>


export default {
  name: 'App3',
  data(){
    return{
      products:[
          {id: 1, title:"Product 1", price:"1000"},
          {id: 2, title:"Product 2", price:"2000"},
          {id: 3, title:"Product 3", price:"3000"},
          {id: 4, title:"Product 4", price:"4000"},
          {id: 5, title:"Product 5", price:"5000"}
      ]
    }
  },
  
  beforeCreate(){
      console.log("beforeCreate")
  },
  created(){
      console.log("Created")
  },
  beforeMount(){
      console.log("beforeMount")
  },
  mounted(){
      console.log("Mounted")
  },


};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
