<template>
  <Header :text="tulis" />
</template>

<script>
import Header from "@/components/Header.vue"

export default {
  name: 'App6',
  components: {
    Header,
  },

  data(){
    return {
      tulis:"Ini adalah components dari App6.vue via data bind"
    };
  },
 
};
</script>

<style>
</style>