<template>
  <Header @changeTitle="ubahtext" :text="tulis"/>
</template>

<script>
import Header from "@/components/Header2.vue"

export default {
  name: 'App7',
  components: {
    Header,
  },

  data(){
    return {
      tulis:"Ini adalah components dari App6.vue via data bind"
    };
  },

  methods: {
    ubahtext(newText){
      this.tulis = newText;
    },
    
  },
  
 
};
</script>

<style>
</style>